$mainColor: #303030;
$grey: #505050;
$grey100: #F0F0F0;
$grey200: #E8E7E7;
$grey300: #DaDaDa;
$grey400: #DdDdDd;
$grey500: #D3D3D3;
$grey600: #C9C9C9;
$grey700: #979797;
$grey800: #8F8F8F;


$red: #E24B33;
$teal : #5B8A8F;
$yellow: #F1CB7E;
$orange: #E1A661;
$orangeSecondary: #E1A661;
$green: #A7E492;